@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cursivex;
    src: url('/fonts/cursive.ttf');
  }
}

.article-container {
  width: calc(100vw - 32px);
}

@media (min-width: 768px) {
  .article-container {
    width: calc(100vw - 128px);
  }
}

@media (min-width: 1280px) {
  .article-container {
    max-width: 72rem;
  }
}
