@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cursivex;
    src: url('/fonts/cursive.ttf');
  }
}

.article-container {
  width: calc(100vw - 32px);
}

@media (min-width: 768px) {
  .article-container {
    width: calc(100vw - 128px);
  }
}

@media (min-width: 1280px) {
  .article-container {
    max-width: 72rem;
  }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.details ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 24px;
}

.details ul li {
  margin-bottom: 2px;
}
